/* * {
  width: 1920px;
  margin: 0;
} */

h1, h2, h3, h4, h5, h6{
  padding: 0;
  margin: 0;
}

.header__main-section{
  height: 908px;
  /* background: url(/assets/images/noise_transparent.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20; */
  margin-top: 10px;
  background-color: black;
}

.header__main-nav{
  width: 1200px;
  /* height: 60px; */
  display: flex;
  border: 2px solid red;
  margin-top: 60px;
}

.header__main-logo{
  margin-right: 573px;
}

.header__nav-list{
  display: flex;
  align-items: center;
}

.header_nav-link{
  text-decoration: none;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
  margin-right: 35px;
}

.header_nav-link:first-child{
  border-bottom: 3px solid #F1CDB3;
  color: white;
}

.header_nav-link:hover{
  cursor: pointer;
  color: white;
}

.header_nav-link:last-child{
  margin-right: 0px;
}

.main__about-shelter{
  height: 588px;
  background-color: white;
  display: flex;
  justify-content: center;
}

.main__about-logo{
  margin-top: 80px;
}

.main__about-shelter-info{
  width: 380px;
  margin-left: 120px;
}

.main__about-shelter-header{
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 130%;
  color: #545454;
  letter-spacing: 0.06em;
  margin-bottom: 25px;
  margin-top: 94px;
}

.main__about-shelter-text-1{
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 160%;
  color: #4C4C4C;
  margin-bottom: 25px;
}

.main__about-shelter-text-2{
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 160%;
  color: #4C4C4C;
}

.main__our-friend{
  height: 877px;
  background-color: #F6F6F6;
  display: flex;
  justify-content: center;
}

.main__our-friend-content{
  height: 697px;
  width: 1200px;
}

.main__our-friend-head{
  height: 230px;
  display: flex;
  justify-content: center;
}

.main__our-friend-header{
  width: 400px;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  margin-top: 80px;
  text-align: center;
  /* margin-bottom: 60px; */
}

.main__our-friend-main{
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__our-friend-card:last-child{
  margin-right: 0;
}

.main__our-friend-card{
  width: 270px;
  height: 435px;
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 9px;
  margin-right: 90px;
}

.main__our-friend-card:hover{
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  background-color: #FFFFFF;
}

.main__our-friend-main::after{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  content: "→";
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  margin-left: 53px;
  /* background-color: #FDDCC4; */
}

.main__our-friend-main::before{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  content: "←";
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  margin-right: 53px;
  /* background-color: #FDDCC4; */
}

.main__our-friend-main:before:hover{
  background-color: #FDDCC4;
}

.main__our-friend-card-picture{
  margin-top: 30px;
}

.main__our-friend-nickname{
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
  margin-top: 30px;
  margin-bottom: 0;
}

.main__our-friend-button{
  width: 187px;
  height: 52px;
  margin-top: 30px;
  padding: 0;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  background-color: white;
}

.main__our-friend-button:hover{
  cursor: pointer;
  background-color: #FDDCC4;
}

.main__our-friend-footer{
  width: 1200px;
  margin-top: 60px;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 130%;  
  letter-spacing: 0.06em;
  color: #292929;
  display: flex;
  justify-content: center;
}


.main__our-friend-button-footer{
  background-color: #F1CDB3;
  border-radius: 100px;
  width: 261px;
  height: 52px;
  border: none;
  padding: 0;
}

.main__our-friend-button-footer:hover{
  background-color: #FDDCC4;
  cursor: pointer;
}

/* flex flex flex */

.main__help{
  height: 611px;
  background-color: white;
  display: flex;
  justify-content: center;
}

.main__help-content{
  width: 1200px;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main__help-header{
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
}

.main__help-info{
  width: 1026px;
  margin-top: 60px;
  /* margin-left: 87px; */
}

.main__help-list{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
  margin-top: 60px;
}

.main__help-list-element{
  
}

.main__help-list-margin-top{
  margin-top: 50px;
}

.main__help-list-margin{
  margin-right: 120px;
}

.main__help-list-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main__help-list-element-text{
  margin-top: 30px;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 0px;
}
/* flex flex flex */


.main__donation{
  height: 464px;
  background-color: #F6F6F6;
  display: flex;
  justify-content: center;
  margin-top: 80px;
  /* margin-bottom: 100px; */
}

.main__donation-content{
  margin-top: 80px;
  display: flex;
}

.main__donation-logo{
  margin-top: 12px;
}

.main__donation-info{
  width: 380px;
  margin-left: 30px;
}

.main__donation-info-header{
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 20px;
}

.main__donation-info-text{
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 20px;
}

.main__donation-info-credit{
  width: 349px;
  height: 43px;
  display: block;
  background-color: #F1CDB3;
  border-radius: 9px;
  display: flex;
  align-items: center;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
  text-decoration: none;
  margin-bottom: 30px;
}

.main__donation-info-credit:hover{
  background-color: #FDDCC4;
}

.main__donation-card{
  margin-left: 15px;
  margin-right: 15px;
  
}

.main__donation-footer-text{
  font-family: Arial;
  font-style: italic;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #B2B2B2;
}

.footer__main{
  height: 355px;
  background: url(/assets/images/noise_transparent.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
  display: flex;
  justify-content: center;

}

.footer__content{
  width: 1200px;
  margin-top: 40px;
  display: flex;
}

.footer__content-column{
  margin-right: 160px;
  display: flex;
  flex-direction: column;
  width: 278px;
  /* height: 90px; */
}

.footer__content-header{
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  margin-bottom: 40px;
}

.footer__content-column-link{
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.footer__content-column-logo{
  margin-right: 20px;
}

.footer__content-column-right{
  margin-right: 160px;
  display: flex;
  flex-direction: column;
  width: 302px;
}

.footer__content-header-right{
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  margin-bottom: 33px;
}

.footer__content-column-right-link{
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-bottom: 33px;
}