* {
    font-family: 'Roboto', sans-serif;
}


p{
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
}

.wrapper{
    width: 1600px;
    margin: 0 auto;
}

/* header */
.header-block{
    background-image: url(./assets/bg-image.png);
    height: 744px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-size: 100%;
}

.header-nav{
    width: 1600px;
    height: 95px;
    display: flex;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
}

.header-nav-link{
    text-decoration: none;
    color: #ffffff;
    opacity: 0.8;
}

.one{
    margin-left: 502px;
    margin-right: 85px;
}

.two{
    margin-right: 100px;
}

.three{
    margin-right: 101px;
}

.four{
    margin-right: 83px;
}

.header-nav-link:hover{
    text-decoration: underline;
}

.header-nav-link-cheked{
    color: #FFFFFF;
    text-decoration: underline;
    opacity: 1;
}

.header-content{
    width: 1600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.header-content-info{
    color: white;
    text-transform: uppercase;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 64px;
    margin-top: 136px;
    letter-spacing: 4.5px;
    margin-bottom: 20px;
}

.header-paragraph{
    width: 504px;
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    line-height: 140%;
}

.button-main{
    margin-top: 30px;
    width: 184px;
    height: 46px;
    background-color: #00AFDB;
}

.button-main:hover{
    background-color: #009CC2;
}

.button-main-text{
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    text-decoration: none;
}

.social{
    width: 170px;
    display: flex;
    margin-top: 183px;
    align-items: center;
    justify-content: center;
}

.social-links{
    margin-right: 30px;
}

/* footer */

.footer-content{
    height: 185px;
    background-color: black;
    display: flex;
}

.list-links{
    height: 16px;
    width: 273px;
    margin-left: 160px;
    margin-right: 345px;
    margin-top: 75px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
}

.our-links{
    display: flex;
    list-style: none;
}

.our-links-li{
    text-decoration: none;
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
}

li::after{
    content: "|";
    float: right;
    color: white;
    margin-right: 20px;
    margin-left: 20px;
    color: #4E4E4E;
}

li:last-child::after{
    display: none;
}

.our-links-li:hover{
    text-decoration: underline;
}

.footer-info{
    display: flex;
    height: 184px;
}

.logo-link{
    margin-top: 60px;
    margin-right: 448px;
}

.copyright{
    color: #818181;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    margin-top: 73px;
}


/* idea */
.your-idea{
    height: 842px;
    background-color: white;
    display: flex;
    justify-content: center;
}

.your-idea-content{
    width: 407px;
    height: 233px; 
    margin-right: 248px;
    margin-top: 295px;
}

.you-idea-content-header{
    color: #373737;
    text-transform: uppercase;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 1px;
    width: 375px;
}

.you-idea-content-text{
    color: #4E4E4E;
    width: 407px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    margin-top: 20px;
}

.button-main-started{
    width: 184px;
    height: 46px;
    background-color: #00AFDB;
}

.button-main-started:hover{
    background-color: #009CC2;
}

.button-main-started-info{
    margin-top: 30px;
    height: 100%; 
    color: #FFFFFF; 
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.picture{
    margin-top: 120px;
}

/* our idea */
.our-community{
    height: 504px;
    background-color: #F5F6F7;
    display: flex;
    justify-content: center;
    position: relative;
}

.our-community-info{
    width: 298px;
    margin-right: 139px;
    margin-left: 269px;
    margin-top: 155px;
}

.our-community-logo{
    margin-left: 127px;
    margin-bottom: 20px;
}

.our-community-header{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #373737;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
    letter-spacing: 2.4px;
}

.our-community-text{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #373737;
    text-align: center;
}

.our-community-nav-items{
    position: absolute;
    width: 79px;
    height: 20px;
    left: 1252px;
    top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #373737;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 140%;
}

.our-community-nav-items-forward{
    transform: rotate(180deg);
}

.our-community-nav-items-back:hover{
    opacity: .5;
    cursor: pointer;
}

.our-community-nav-items-forward:hover{
    opacity: .5;
    cursor: pointer;
}


.slider-list{
    width: 894px;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    list-style-type: none;
    margin-top: 120px;
}

.slider-item-1{
    margin-right: 30px;
}

.slider-item-2{
    margin-right: 30px;
}

/* programming process */
.programming-process{
    height: 842px;
    display: flex;
}


.programming-process-content{
    margin-left: 139px;
    width: 407px;
    margin-top: 319px;
}

.programming-process-header{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #4E4E4E;
    letter-spacing: 1px;
}

.programming-process-text{
    margin-top: 25px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #4E4E4E;
}

.button-learn-more{
    width: 180px;
    height: 46px;
    background-color: #00AFDB;
}

.button-learn-more:hover{
    background-color: #009CC2;
}

.button-learn-more-text{
    text-decoration: none;
    height: 100%;
    color: #FFFFFF;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.picture-2{
    margin-left: 269px;
    margin-top: 120px;
}

.signup-main{
    width: 1600px;
    height: 598px;
    background-image: url(./assets/background-newletter.jpg);
    display: flex;
    justify-content: center;
}

.signup-content{
    margin-top: 217px;
}

.signup-header{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: white;
    padding-bottom: 30px;
    text-align: center;
    letter-spacing: 1px;
}

.input-signup{
    width: 316px;
    height: 46px;
    border: none;
    padding: 0;
}

.input-signup[type="email"]{
    padding-left: 24px;
}

.button-signup{
    width: 66px;
    height: 46px;
    background-color: #00AFDB;
    color: white;
    float: right;
    border: none;
}

.button-signup:hover{
    background-color: #009CC2;
    cursor: pointer;
}
/* not work (?) */
.button-signup-image{
    width: 19px;
    height: 16.52px;
}

.downloads{
    height: 468px;
    display: flex;
    justify-content: center;
}

.download-content{
    margin-top: 120px;
    width: 483px;
}

.download-header{
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #373737;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.download-text{
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    margin-bottom: 30px;
}

.download-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-appstore-link{
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #00AFDB 70%, #009CC2 30%);
    width: 188px;
    height: 50px;
    text-decoration: none;
    margin-right: 30px;
}

.button-appstore-link:hover{
    background: linear-gradient(to right,  #009CC2 70%, #009CC2 30%);
}

.button-text{
    color: white;
    text-transform: uppercase;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    margin-left: 18px;
}

.apple-image{
    padding-left: 43px;
    width: 17px;
    height: 20px;
}

.button-market{
    width: 188px;
    height: 50px;
    background-color: #00AFDB;
}    

.button-market-link{
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #00AFDB 70%, #009CC2 30%);
    width: 188px;
    height: 50px;
    text-decoration: none;
}


.button-market-link:hover{
    background: linear-gradient(to right,  #009CC2 70%, #009CC2 30%);
}

.button-text{
    color: white;
    text-transform: uppercase;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    margin-left: 18px;
}

.android-image{
    padding-left: 39px;
    width: 17px;
    height: 20px;
}